@media only screen and (max-width: 768px) {
    .baby-links {
        margin-left: auto !important; 
        margin-right: auto !important;
    }
}

.g {
    color: #38bbc2;
}
.r {
    color: #abe2e2;
}
.o {
    color: #fbdbdb;
}
.w {
    color: #f3849b;
}
.file-btn {
    border: 2px solid black;
}
.file-container {
    background-color: #f5b8c3;
}
.file-input {
    background-color: #f5b8c3 !important;
}
.begin-collapsed {
    height: 0;
}
/* input {
    margin: 10px;
} */
input:focus {
    outline: none;
}
.add-baby-link {
    text-decoration: none;
    color: #38bbc2;
}

.login-text {
    color: #38bbc2;
}
.login-btn {
    background-color: #38bbc2;
    margin: 10px;
}
.add-baby-link:hover {
    color: white;
}
.baby-links {
    background-color: #38bbc2;
}
.logo {
    font-size: 40px;
}
.profile-pic {
    width: 100px;
    margin: 15px auto 5px auto;
    border-radius: 6px;
    
}
.submit-btn {
    background-color: #38bbc2 !important;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.submit-btn:hover {
    color:black;
}
.home-img {
    border-radius: 10px;
}
.user-name {
    color: #f5b8c3;
}
.food-sleep {
    color: #fbdbdb;
}
.habits {
    color: #abe2e2;
}
.border {
    border: 1px solid white;
    border-radius: 4px;
}
.max_width {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hide-form {
    display: none;
}
.show-form {
    display: block;
}

#logout-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(169, 165, 165);
    display: inline-block;
    padding: 8px 0;
    
    
}

#logout-btn:hover {
    color: rgb(199, 196, 196);;
}

#month-3, #month-6, #month-9, #month-12 {
    background-color: #abe2e2;
    margin: 20px;
}
.checkbox {
    accent-color: #abe2e2;
}

#uploaded {
    width: 100px;
}
.toggleMilestone {
    display: block !important;
}
.milestones {
    display: none;
}

.background-pink {
    background-color: #f3849b;
}

.background-blue {
    background-color: #38bbc2;
}