{% extends 'base.html' %}

{% block content %}
<section class="bg-dark p-5">
    <div class="container">
        
        <div class="d-md-flex justify-content-center">
            

            {% for id, name, birthday, profile_picture, user_id in baby %}
                <div class="card text-light m-3 baby-links" style="width: 18rem;">
                    <img src="{{profile_picture}}" class="card-img-top profile-pic" alt="profile picture">
                    <div class="card-body text-center">
                        <h5>{{name}}</h5>
                        <a href="/milestones?baby_id={{id}}" class="my-2 btn btn-light">Milestones</a>
                        <a href="/sleep_food?baby_id={{id}}" class="my-2 btn btn-light">Sleep/Food Tracker</a>
                        <a href="/upload_profile_picture?baby_id={{id}}" class="my-2 btn btn-light">Change Profile Picture</a>
                    </div>
        
                </div>
                    
            {% endfor %}

            
            
        </div>
        
    </div>
    
</section>
<section class="bg-light p-5">
    <div class="container">
        <h3 class="text-center"> Add A Baby to Your Family</h3>
        <div class="d-flex justify-content-center align-items-center">
            
            <form action="/add_baby" method="POST" class="form-control text-center max_width">
                <input type="text" class="form-control" name="name" placeholder="Baby's name">
                <input type="date" class="form-control" name="birthdate">
                <br>
                <input type="submit" class="btn btn-dark btn-large submit-btn" type="button" value="Submit">
            
            </form>
        </div>
        

    </div>
    
</section>

{% endblock %}