{% extends 'base.html' %}

{% block content %}

<section>
    <form action="/update_database_action" method="POST">
    <h1>Month 0-3</h1>
    {% for id, milestone, completed, month_range in all_milestones%}

        {% if completed == False and month_range == 3 %}
            <div>
                <li>
                    <label for="">{{milestone}}</label>
                    <input type="checkbox" name="check_box" value={{id}}>
                </li>
            </div>
        {% elif completed == True and month_range == 3 %}
        <div>
            <li>
                <label for="">{{milestone}}</label>
                <input type="checkbox" checked name="check_box" value="{{id}}">
            </li>
        </div>
        {% endif %}
    {% endfor %}
    
</section>
<section>
    
    <h1>Month 3-6</h1>
    {% for id, milestone, completed, month_range in all_milestones%}

        {% if completed == False and month_range == 6 %}
            <div>
                <li>
                    <label for="">{{milestone}}</label>
                    <input type="checkbox" name="check_box" value="{{id}}">
                </li>
            </div>
        {% elif completed == True and month_range == 6 %}
        <div>
            <li>
                <label for="">{{milestone}}</label>
                <input type="checkbox" checked name="check_box" value="{{id}}">
            </li>
        </div>
        {% endif %}
    {% endfor %}

    
</section>
<section>
    
    <h1>Month 6-9</h1>
    {% for id, milestone, completed, month_range in all_milestones%}

        {% if completed == False and month_range == 9 %}
            <div>
                <li>
                    <label for="">{{milestone}}</label>
                    <input type="checkbox" name="check_box" value="{{id}}">
                </li>
            </div>
        {% elif completed == True and month_range == 9 %}
        <div>
            <li>
                <label for="">{{milestone}}</label>
                <input type="checkbox" checked name="check_box" value="{{id}}">
            </li>
        </div>
        {% endif %}
    {% endfor %}
    
</section>
<section>
    <h1>Month 9-12</h1>
    <form action="/update_database_action" method="POST">
    {% for id, milestone, completed, month_range in all_milestones%}

        {% if completed == False and month_range == 12 %}
            <div>
                <li>
                    <label for="">{{milestone}}</label>
                    <input type="checkbox" name="check_box" value="{{id}}">
                </li>
            </div>
        {% elif completed == True and month_range == 12 %}
        <div>
            <li>
                <label for="">{{milestone}}</label>
                <input type="checkbox" checked name="check_box" value="{{id}}">
            </li>
        </div>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Save">
    </form>
</section>


{% endblock %}