{% extends 'base.html' %}

{% block content %}
<section class="bg-dark p-5">
<div class="container">

    <div class="d-sm-flex align-items-center justify-content-between">
        <div class="text-light text-center">
            <h1>{{baby_name[0][0]}}'s Milestones</h1>
            <p>The skills your child learns as they grow — like rolling over, crawling, babbling and laughing — are called developmental milestones. Here's what to expect during the first year.</p>
        </div>
       
        
    </div>
    <div class="flex-wrap text-center">
        <button class="btn btn-light milestone-btn">Months 0-3</button>
        <button class="btn btn-light milestone-btn">Months 3-6</button>
        <button class="btn btn-light milestone-btn">Months 6-9</button>
        <button class="btn btn-light milestone-btn">Months 9-12</button>
    </div>
    <form action="/milestones?baby_id={{param_baby_id}}" method="POST">
    <div class="card p-5 milestones" id="month-3">

        
        
        <h1>Month 0-3</h1>
        <ul class="list-group">
        {% for id, milestone, month_range, completed, baby_id in all_milestones%}
            
            {% if completed and param_baby_id == baby_id and month_range == 3 %}
                <div>
                    <li class="list-group-item">
                        <label for="">{{milestone}}</label>
                        <input type="checkbox" checked name="check_box" value={{id}} class="checkbox">
                    </li>
                </div>
            {% elif month_range == 3 %}
            <div>
                <li class="list-group-item">
                    <label for="">{{milestone}}</label>
                    <input type="checkbox"  name="check_box" value="{{id}}" class="checkbox">
                </li>
            </div>
            {% endif %}
        {% endfor %}
        </ul>
        <input class="btn btn-dark" type="submit" value="Save">
    </div>
    

    <div class="card p-5 milestones" id="month-6">

    
    
        <h1>Month 3-6</h1>
        <ul class="list-group">
        {% for id, milestone, month_range, complete, baby_id in all_milestones%}
            

            {% if completed and param_baby_id == baby_id and month_range == 6 %}
                <div>
                    <li class="list-group-item">
                        <label for="">{{milestone}}</label>
                        <input type="checkbox" checked name="check_box" value="{{id}}" class="checkbox">
                    </li>
                </div>
            {% elif month_range == 6 %}
            <div>
                <li class="list-group-item">
                    <label for="">{{milestone}}</label>
                    <input type="checkbox"  name="check_box" value="{{id}}" class="checkbox">
                </li>
            </div>
            {% endif %}
        {% endfor %}
        </ul>
        <input class="btn btn-dark" type="submit" value="Save">
    </div>
    

    
    <div class="card p-5 milestones" id="month-9">

    
        <h1>Month 6-9</h1>
        <ul class="list-group">
        {% for id, milestone, month_range, completed, baby_id in all_milestones%}
            

            {% if completed and param_baby_id == baby_id and month_range == 9 %}
                <div>
                    <li class="list-group-item">
                        <label for="">{{milestone}}</label>
                        <input type="checkbox" checked name="check_box" value="{{id}}" class="checkbox">
                    </li>
                </div>
            {% elif month_range == 9 %}
            <div>
                <li class="list-group-item">
                    <label for="">{{milestone}}</label>
                    <input type="checkbox" name="check_box" value="{{id}}" class="checkbox">
                </li>
            </div>
            {% endif %}
        {% endfor %}
        </ul>
        <input class="btn btn-dark" type="submit" value="Save">
    </div>
    
    
    <div class="card p-5 milestones" id="month-12">

    <ul class="list-group">    
    <h1>Month 9-12</h1>
    {% for id, milestone, month_range, completed, baby_id in all_milestones%}
        

        {% if completed and param_baby_id == baby_id and month_range == 12 %}
            <div>
                <li class="list-group-item">
                    <label for="">{{milestone}}</label>
                    <input type="checkbox" checked name="check_box" value="{{id}}" class="checkbox">
                </li>
            </div>
        {% elif month_range == 12 %}
        <div>
            <li class="list-group-item">
                <label for="">{{milestone}}</label>
                <input type="checkbox"  name="check_box" value="{{id}}" class="checkbox">
            </li>
        </div>
        {% endif %}
    {% endfor %}
    </ul>
    <input class="btn btn-dark" type="submit" value="Save">
</div>
    
    </form>
    
</div>
</div>
</section>
{% endblock %}