<h1>Months 0-3</h1>
<div>
    <li>
        <label for="">Reach out to touch things with their hands</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Start to watch and follow your face and other objects</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Start to smile, laugh, coo and make gurgling sounds</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Match your emotions</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Show signs of emotion like interest or distress</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Be startled by loud noises and look towards sounds</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Shut eyes with bright light</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Lift their head up when on their tummy</label>
        <input type="checkbox" name="" id="">
    </li>
    <li>
        <label for="">Kick their legs and play with hands and feet</label>
        <input type="checkbox" name="" id="">
    </li>
</div>