{% extends 'base.html' %}

{% block content %}
<h1>Sleep</h1>
<form action="/sleep_submit_action" method="POST">
    <h2>Time of day:</h2>
    <input type="time" name="time" >
    <h2>Duration of sleep:</h2>
    <input type="number" name="hours" placeholder="hours">
    <input type="number" name="minutes" placeholder="minutes">
    <br>
    <input type="submit" value="submit">
</form>
<h1>Food</h1>
<form action="/food_submit_action" method="POST">
    <h2>Time of day:</h2>
    <input type="time" name="eat_time">
    <h2>Food type:</h2>
    <input type="text" name="food_type">
    <br>
    <input type="submit" value="submit">
</form>
{% endblock %}