{% extends 'base.html' %}

{% block content %}
<section class="bg-dark p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1 class="food-sleep">Sleep</h1>
                <form action="/sleep_submit_action?baby_id={{param_baby_id}}" method="POST" class="form-control bg-dark">
                    <h2 class="food-sleep">Date:</h2>
                    <input type="date" name="sleep_date" class="form-control" required>
                    <div class="d-flex justify-content-between">
                        <h2 class="food-sleep">Nap Start</h2>
                        <h2 class="food-sleep">Nap End</h2>
                    </div>
                    <div class="input-group">
                        <input type="time" name="nap_start" class="form-control" required>
                        <span class="input-group-addon">:</span>
                        <input type="time" name="nap_end" class="form-control" required>
                    </div>
                    
                    <h2 class="food-sleep">Duration of sleep:</h2>
                    <div class="input-group">
                        <input type="number" name="hours" placeholder="hours" class="form-control" required>
                        <span class="input-group-addon">:</span>
                        <input type="number" name="minutes" placeholder="minutes" class="form-control" required>
                    </div>
                    
                    <br>
                    <input type="submit" value="submit">
                </form>
            </div>
            <div class="col">

            
            <h1 class="food-sleep">Food</h1>
            <form action="/food_submit_action?baby_id={{param_baby_id}}" method="POST" class="form-control bg-dark">
                <h2 class="food-sleep">Date:</h2>
                <input type="date" name="food_date" class="form-control" required>
                <h2 class="food-sleep">Time of day:</h2>
                <input type="time" name="eat_time" class="form-control" required>
                <h2 class="food-sleep">Food type:</h2>
                <input type="text" name="food_type" class="form-control" placeholder="Food Type" required>
                <br>
                <input type="submit" value="submit">
            </form>
        </div>
        </div>
        
    </div>
</section>
<section class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="card col-md-6 col-xs-12 bg-dark text-light py-5 text-center">
                <h1 class="text-center habits">Sleeping Habits</h1>
                {% if nap_start_end|length > 0 %}
                    <h3 class="habits">Last nap was {{nap_start_end[0][0]}} - {{nap_start_end[0][1]}}</h3> 
                    <h3 class="habits">Average sleep is: {{nap_avg}}</h3>
                {% endif %}
            </div>
            <div class="card col-md-6 col-xs-12 bg-dark text-light py-5 text-center">
                {% if eating_habits|length > 0 %}
                <h1 class="text-center habits">Eating Habits:</h1>
                {% for date, time, food, baby_id in eating_habits %}
                <h3 class="habits">
                    Last ate {{food}} at {{time}}
                </h3>
                {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
       

    
    


    <!-- <div class="container">
        <h1>Eating Habits</h1>
        {% for date, time_of_day, food_type, baby_id in eating_habits %}
            
            {% if baby_id == param_baby_id %}
                <h2>{{date}}</h2>
                <li>{{time_of_day}}</li>
                <li>{{food_type}}</li>
            {% endif %}
        {% endfor %}
    </div> -->
</section>

{% endblock %}